{% extends "base2.html" %}

{% block title %}Servic... Restablecer contraseña{% endblock %}

{% block content %}
<div class="col-md-5">
    <div class="row  justify-content-center align-items-center py-5">
        <div class="col-auto bg-light p-5">
            <h4 class ="text-secondary text-center py-2" > Restablecimiento de contraseña enviado </h4>
            <span>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó,ebería recibirlo en breve.
                    <br>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</span><br>
            <form action="" method="POST">
                {% csrf_token %}
                <!--<div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInputValue" name="correo" placeholder="name@example.com" required>
                    <label for="floatingInputValue">Correo electrónico</label>
                </div>-->
                <br><div class="" style ="text-align: center">
                    <a class="btn btn-outline-secondary" href="/reset_password/"><i class="fa-solid fa-chevron-left"></i> Volver</a>&nbsp;&nbsp;
                    <a class="btn btn-outline-info" href="/">Inicio</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %} 