{% extends "home.html" %}

{% block title %}Servic... Valores de pago{% endblock %}

{% block content %}
{% load i18n %}
    <div class="container mb-1 " style="max-width: 800px;">
        <h4 class="text-black-50 text-center py-3">Valores a pagar del medidor {{ cliente.medidor }} <p>de <b>{{ cliente.nombres }} {% if cliente.apellidos == None %}  {% else %} {{ cliente.apellidos }} {% endif %}</b></p></h4>
    </div>
{% if total != None %}    
    <div class="container mb-1 " style="max-width: 500px;">        
        <div class="card" style="max-width: 500px;">
            <div class="card-body">
                <h5 class="card-title text-center">Recibo de Pago del Servicio de Agua Potable del GAD Parroquial de Milagro </h5>
                <p class="card-text"><b>Mes de pago: </b>{% filter slugify %}{% trans mes %}{% endfilter %} del {{ año }}<br>
                                    <b>Usuario: </b>{{ cliente.nombres }} {% if cliente.apellidos == None %}  {% else %} {{ cliente.apellidos }} {% endif %} - {{ cliente.cedula }}<br>
                                    <b>Medidor: </b>{{ cliente.medidor }} - {{ cliente.direccion }}<br>
                                    <b>Celular: </b>{% if cliente.celular == None %} - {% else %} {{ cliente.celular }} {% endif %}&nbsp; <b>email: </b>{{ cliente.email }}</b><br>
                                    <b>Cifra consumida: </b>{{ cifraconsumida }} metros cúbicos.
                                    
                    <div >
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Cifra base: &nbsp;<b>{{ valoresbase.base }}</b></td>
                                    <td>{{ valoresbase.valor_cifra_base }}</td>
                                  </tr>
                                  <tr>
                                    <td>Metros adicionales consumidos: &nbsp;<b>{{ metrosadicionales }}</b> x {{ valoresbase.valor_adicional }} ctvs</td>
                                    <td>{{ adicional }}</td>
                                  </tr>
                                  <tr>
                                    <th>Total de {% filter slugify %}{% trans mes %}{% endfilter %}</th>
                                    <th>{{ subtotal }}</th>
                                  </tr>
                                  <tr>
                                    <td>Valores de pago pendientes: &nbsp;<b>{% filter slugify %}{% trans fechamora %}{% endfilter %}</b></td>
                                    <td>{{ pendiente }}</td>
                                  </tr>
                                  <tr>
                                    <td>Adicional por mora &nbsp;{{ valoresbase.porcentaje_mora }}%</td>
                                    <td>{{ mora }}</td>
                                  </tr>
                                  <tr>
                                    <th>Total a cancelar</th>
                                    <th>{{ total }}</th>
                                  </tr>
                            </tbody>
                        </table>
                        {% if mes_actual != mes %} 
                            <h6>* Aun no esta ingresada la actual cifra de {{ mes_actual }}</h6>
                        {% endif %}
                    </div>
            </div>
        </di-v>
    </div>
{% else %}
  {% if estado == 's' %}
  <div class="container py-4" style="max-width: 800px;">
     {% if messages %}
        {% for m in messages %}
            <div class="alert alert-success" role="alert">
                  {{ m }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="alert alert-primary" role="alert">
      El usuario <b>{{ cliente.nombres }} {% if cliente.apellidos == None %}  {% else %} {{ cliente.apellidos }} {% endif %}</b> no tiene deudas pendientes! Su ultimo pago por el servicio corresponde a {{ ultimopago }}.
    </div>
        <table class="table table-responsive table-striped">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Registro</th>
                  <th>Total cancelado</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              {% for registro in registrocobros %}
              <tr>
                <th scope="row">{{ registro.id }}</th>
                  <td>{{ registro.registro }}</td>
                  <td>{{ registro.total }}</td>
                  <td></td>
              </tr>
              {% endfor %} 
          </tbody>
        </table> 
  </div>
  {% else %}
    <div class="container mb-1 py-3" style="max-width: 600px;">
      <div class="alert alert-warning" role="alert">
        Aún no se han agregado cifras para el medidor <b>{{ cliente.medidor }}</b> perteneciente a <b>{{ cliente.nombres }} {% if cliente.apellidos == None %}  {% else %} {{ cliente.apellidos }} {% endif %}</b>. Por favor ingrese la cifra correspondiente!<br><br>
        <div style ="text-align: center">
          <a class="btn btn-warning "  href="/ingresarcifra/{{cliente.id}}">Ingresar cifra</a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
    <div class="mb-1 py-3 " style ="text-align: center">
        <a class="btn btn-outline-secondary" href="/cobros"><i class="fa-solid fa-chevron-left"></i> Regregar</a>
        {% if mes_actual != mes %} 
            <a class="btn btn-outline-warning " href="/ingresarcifra/{{cliente.id}}">Ingresar cifra</a>
        {% endif %}

        {% if total != None %}
            <a class="btn btn-success" href="javascript:void(0);" onclick="window.open('/generarpdf/{{cliente.id}}');recargar();">Generar pago</a>
            <script language="JavaScript">
              function recargar() {
                setTimeout("location.href='/calcularcobro/{{cliente.id}}'", 4000);
              }
            </script>
            <!--<a class="btn btn-success" href="/pagorealizado/{{cliente.id}}">Generar pago</a>-->
        {% endif %}
    </div>
{% endblock %} 