{% extends "home.html" %}

{% block title %}Servic... Notificaciones{% endblock %}

{% block content %}
{% load i18n %}
    <div class="container mb-1 " style="max-width: 800px;">
        <h4 class="text-black-50 text-center py-3"><i class="fa-solid fa-envelope"></i> Envío de alertas a usuarios con deudas pendientes </h4>
    </div>
    <div class="container " style="max-width: 800px;">
        <form class="d-flex" method="GET">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Buscar usuario por nombres, razón social, número de medidor o número de cédula" aria-label="Search" name="buscar" value="">
            <select name="filtro" style="max-width: 150px;" class="form-select" aria-label="Default select example">
                <option selected>Todos</option>
                <option value="1">Notificados</option>
                <option value="2">Por notificar</option>
            </select>&nbsp;
            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="container py-4" style="max-width: 800px;">
        {% if messages %}
            {% for m in messages %}
                <div class="alert alert-info" role="alert">
                    {{ m }}
                </div>
            {% endfor %}
        {% endif %}
        <div style="float:left">Se enviarán notificaciones al correo electrónico del usuario indicando que tiene deudas pendientes por el servicio.</div>
        {% if notificart == "" %}
            <div style="float:right"><button type="button" class="btn btn-outline-success" disabled>&nbsp;<i class="fa-solid fa-envelope-circle-check"></i>&nbsp; Notificaciones Enviadas</button></div>
        {% else %}
            <div style="float:right"><a class="btn btn-outline-danger" href="/notificartodos/">&nbsp;<i class="fa-solid fa-envelope"></i>&nbsp; Notificar a todos</a></div> <br>      
        {% endif %}
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Pago pendiente</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                  <th scope="row">{{ cliente.nombres }}{% if cliente.apellidos == None %}  {% else %} {{ cliente.apellidos }} {% endif %}</th>
                    
                    <td>
                        {% for c in cifras %}
                            {% if cliente == c.id_usuario %}
                                {% filter slugify %}{% trans c.mes %}{% endfilter %} / {{ c.anio }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <!--El usuario tiene notificaciones-->
                        {% if cliente.detalle == fecha %}
                            <button type="button" class="btn-sm btn-outline-success" disabled><i class="fa-solid fa-envelope-circle-check"></i></button>
                        {% else %}
                            <a class="btn btn-sm btn-outline-primary" href="/notificarusuario/{{cliente.id}}">&nbsp;<i class="fa-solid fa-envelope"></i>&nbsp;</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %} 
                </tbody>
        </table> 
        <a class="btn btn-outline-info" href="/notificaciones">Ver todos</a> &nbsp;&nbsp;            
    </div>
{% endblock %} 