{% extends "home.html" %}

{% block title %}Servic... Ver cliente{% endblock %}

{% block content %}
    <div class="container mb-1 " style="max-width: 450px;">
        <h4 class="text-black-50 text-center py-3">Información completa del usuario</h4>
    </div>
    <div class="container " style="max-width: 500px;">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-1">
                <label for="">Nombres o razón social</label>
                <input type="text" class="form-control" placeholder="Ej. 'Edhisson Alexis', 'Iglesia central'" maxlength="50" name="{{form.nombres.name}}" value="{{cliente.nombres}}" disabled>
            </div>
            <div class="mb-1">
                <label for="">Apellidos (dejar en blanco si es razón social)</label>
                <input type="text" class="form-control" placeholder="Ej. Sanmartin Freire" maxlength="30" name="{{form.apellidos.name}}" value="{{cliente.apellidos}}" disabled>
            </div>
            <!--<div class="mb-1">
                <label for="">Detalle (para especificar otro medidor del mismo usuario)</label>
                <input type="text" class="form-control" placeholder="Ej. casa 2" maxlength="30" name="{{form.detalle.name}}" value="{{cliente.detalle}}" disabled>
            </div>-->
            <div class="mb-1">
                <label for="">Medidor</label>
                <input type="text" class="form-control" placeholder="Ej. 0001178" maxlength="10" name="{{form.medidor.name}}" value="{{cliente.medidor}}" disabled>
            </div>
            <div class="mb-1">
                <label for="">Cédula o RUC</label>
                <input type="text" class="form-control" placeholder="Ej. 0705686230" maxlength="10" name="{{form.cedula.name}}" value="{{cliente.cedula}}" disabled>
            </div>
            <div class="mb-1">
                <label for="">Email</label>
                <input type="email" class="form-control" placeholder="Ej. edhisson97sanmartin@gmail.com" name="{{form.email.name}}" value="{{cliente.email}}" disabled>
            </div>
            <div class="mb-1">
                <label for="">Número de celular</label>
                <input type="text" class="form-control" placeholder="Ej. 0984556380" maxlength="10" name="{{form.celular.name}}" value="{{cliente.celular}}" disabled>
            </div>
            <div class="mb-1">
                <label for="">Dirección</label>
                <input type="text" class="form-control" placeholder="Ej. Juán María Freire" maxlength="50" name="{{form.direccion.name}}" value="{{cliente.direccion}}" disabled><p></p>
            </div>
            
            <div class="mb-1" style ="text-align: center">
                <a class="btn btn-outline-secondary" href="/clientes"><i class="fa-solid fa-chevron-left"></i> Regregar</a>
                <a class="btn btn-outline-warning" href="/editarcliente/{{cliente.id}}"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
            </div>
        </form>
    </div>
{% endblock %} 